body {
  
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
  
}

* {
  font-family: 'Inter', system-ui;
  box-sizing: border-box;
}

.overflow-hidden{
  overflow: hidden;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0px auto !important;
}

header {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  border-radius: 20px 20px 0px 0px;
     text-decoration: none;
    margin-top: 50px;

    a{
      text-decoration: none;
      color: inherit;
    }
  .mainTitle{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  img {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  h3{
    margin: 0;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    opacity: 5;
  }
  ul{
    display: flex;
    list-style-type: none;

  li{
    display: flex;
    margin-right: 30px;
    cursor: pointer;
  }

}
}

.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty{
  text-align: center;

  p{
    width: 280px;
    line-height: 24px;
  }

  .greenButton{
    width: 245px;
    margin-top: 20px;

    &:hover{
      img{
        transform: rotate(180deg) translateX(3px);
      }
    }
  }
  
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear{
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 14px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  

  h2 {
    margin: 0;
  }

  .items{
    overflow: auto;
    margin-bottom: 40px;
  }
  .cartLowBlock{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
  }
}

.cartTotalBlock {
  ul{
    display: block;
    margin-bottom: 40px !important;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
  .greenButton{
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover{
      img{
        transform: translateX(5px);
      }
    }

    img{
      position: absolute;
      right: 30px;
      top: 21px;
      transition: transform 0.15s ease-in-out;
      }
  }
}

.greenButton {
  width: 100%;
  width: 325px;
  height: 55px;
  border: 0;
  background: #9DD558;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 18px;
  cursor: pointer;
  transition: transform 0.1 ease-in-out;

  &:disabled{
    background: #bebebe !important;
    cursor: default !important;
  }

  &:hover{
    background: lighten(#9dd558, 5%);
  }
  &:active{
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0, 5;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

